.container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.halfbrick {
  height: 300px;
  width: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
}

.titleContainer {
  composes: halfbrick;
  background-color: #EEF7F9;
  z-index: 100;
}

.infoContainer {
  composes: halfbrick;
  background-color: #6bc1cf;
  z-index: 100;
}

.heading {
  font-family: 'Rock Salt', cursive;
  font-size: 2.3em;
  text-align: center;
  color: #6bc1cf;
}

.underline {
  height: 4px;
  width: 30px;
  background-color: #6bc1cf;
  margin: 0 auto;
  border-radius: 2px;
}

.headerImage {
  width: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.container p {
  font-family: Droid Serif, sans-serif;
  font-style: italic;
  text-align: justify;
  max-width: 80%;
  color: #fff;
  line-height: 2em;
  font-size: 0.8em
}

.codeBlock {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* margin-top: -40px; */
  z-index: 0;
  width: calc(100% - 4px);
}

@media (min-width: 576px) {
  .container {
    width: 90vw;
    margin: 5vw auto 0 auto;
  }
  .halfbrick {
    width: calc(50% - 4px);
    border: 2px solid #fff;
  }
  .headerImage {
    width: calc(100% - 4px);
    border: 2px solid #fff;
  }
  .codeBlock {
    border: 2px solid #fff;
  }
}

@media (min-width: 715px) {
  .container p {
    font-size: 0.9em
  }
}

@media (min-width: 967px) {
  .container p {
    font-size: 1em
  }
}
