@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.brickWall {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100vw;
	max-width: 1200px;
}

.heading {
	margin: 100px auto 0 auto;
	width: 90vw;
	max-width: 1200px;
	font-family: 'Rock Salt', cursive;
	font-size: 2.3em;
	text-align: center;
	color: #6bc1cf;
}

@media (min-width: 576px) {
	.brickWall {
		width: 90vw;
	}

	.heading {
		text-align: left;
	}
}
