.brickWall {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 90vw;
  max-width: 1200px;
}

.brick {
  position: relative;
  margin: 2px;
}

.brick h1 {
  z-index: 99;
}

.image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
